@import '../_variables';

.about {
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  text-align: left;

  &__text {
    width: 50%;
    padding: 90px 0 90px 8%;

    @media (max-width: $mobile) {
      width: 90%;
    }
  }

  &__title {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 25px;
    text-transform: uppercase;
    width: 500px;

    @media (max-width: $mobile) {
      width: 90%;
    }
  }

  &__photo {
    margin: 0;
    width: 50%;
    padding-left: 8%;
    // height: calc(100vh - 90px);

    @media (max-width: $mobile) {
      width: 90%;
      margin-left: 5%;
      padding-left: 0;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__paragraph {
    font-size: 14px;
    line-height: 1.5em;
    max-width: 80%;
  }

  &__link {
    color: $dark;
    text-decoration: none;
  }
}
