.gallery-navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
}

.gallery {
    margin-left: 30%;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;

    &__photo {
        margin: 0 0 75px;

        &--one-left {
            width: 70%;
        }

        &--one-center {
            width: 70%;
            margin-left: 15%;
        }

        &--one-right {
            width: 70%;
            margin-left: 30%;
        }

        &--two-left {
            width: 30%;
            margin-right: 5%;
        }

        &--two-center {
            width: 30%;
            margin-right: 5%;
            margin-left: 15%;
        }
    }

    &__image {
        width: 100%;
    }
}