@import url('https://fonts.googleapis.com/css?family=Caveat:700|Karla:400,400i,700,700i&display=swap&subset=latin-ext');
@import "_normalize";
@import "_variables";

@import "modules/navigation.scss";
@import "modules/homepage.scss";
@import "modules/gallery.scss";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $dark;
  font-family: 'Karla', sans-serif;
  text-align: center;
}

// .main {
//   display: flex;
//   flex-wrap: wrap;
// }

.footer {
  padding: 100px 0 50px;

  &__path svg {
    max-width: 80%;
  }
}

.header {
  bottom: 10%;
  color: $apricot;
  font-family: 'Caveat', sans-serif;
  font-size: 32px;
  line-height: 1.2em;
  max-width: 180px;
  position: fixed;
  right: 10%;

  @media (max-width:850px) {
    max-width: 60%;
    position: static;
  }
}

.instagram {
  padding: 75px 12%;

  @media (max-width:850px) {
    padding: 75px 0;
  }

  &__header {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__gallery {
    display: flex;
  }

  &__image {
    display: block;
    width: 100%;
  }
}