@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $dark;
  font-family: 'Karla', sans-serif;
  text-align: center;
}

.header {
  color: $apricot;
  position: fixed;
  right: 10%;
  bottom: 10%;
  max-width: 180px;
}

.homepage {
  display: flex;
  flex-wrap: wrap;

  &__header {
    width: 100%;
  }

  &__title {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    margin: 0 0 75px;
  }

  &__photo {
    margin: 0 0 75px;

    &--main-image {
      height: 100vh;
      width: 100%;
    }

    &--2 {
      width: 50%;
    }

    &--m {
      width: 50%;
      padding: 10%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.instagram {
  padding: 75px 125px;

  &__header {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__gallery {
    display: flex;
  }

  &__image {
    width: 100%;
    display: block;
  }
}

@mixin reset-list {

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 25px 0;
  }

  &__item {
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    margin: 0 25px;

    &--first {
      flex-grow: 1;
    }

    &--last {
      flex-grow: 1;
      text-align: right;
    }
  }

  &__link {
    color: $dark;
    text-decoration: none;
  }

}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: azure;

  @include reset-list;
}

.footer-navigation {
  @include reset-list;
}